*{
    margin: 0;
    border: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    padding: 5px;
    border-bottom: 2px dashed yellow;
}

.btn{
    display: flex;
    justify-content: space-around;
}

.btn a{
    text-decoration: none;
}

.btn-btn{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: 3px solid black;
}

#btn-1{
    background-color: red;
    color: white;
    
}

#btn-2{
    background-color: blue;
    color: white;
}

a:hover{
    border-color: yellow;
    text-decoration: none;
    background-color: blueviolet;
    color: black;
}

#btn-1:hover{
    background-color: blueviolet;
    color: black;
    transition: 0.3s;
}